<!-- BUSCADOR -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- (keydown)="" => DISPARA UNA TABLA,  (keyup)="" => SUELTA UNA TECLA -->
        <input type="text" class="form-control" placeholder="Buscar medico..." #textTermino (keyup)="buscar(textTermino.value)">
      </div>
    </div>
  </div>
</div>
<!-- LOADING -->
<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- TABLA -->
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Medicos {{(medicos.length)}}</h4>
            <h6 class="card-subtitle">Medicos registrados en la aplicación.</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <a class="btn btn-primary" routerLink="/dashboard/medicos/nuevo">
                <i class="fa fa-hospital-o"></i>
                Crear Medico
              </a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos">
                <td class="text-center"><img class="avatar cursor" [src]="medico.image! | imagen:'medicos'"
                  [alt]="medico.nombre" (click)="abrirModal(medico)"></td>
                <td>{{medico.nombre}}</td>
                <td class="text-nowrap text-center">
                  <a [routerLink]="['/dashboard/medicos', medico._id]" data-toggle="tooltip" data-original-title="Edit"> <i
                      class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  <a class="cursor" (click)="borrarMedico(medico)" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
