<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Medico</h4>
        <h6 class="card-subtitle">Actualizar información</h6>
        <form class="form-horizontal p-t-20" [formGroup]="medicoForm" autocomplete="off" (ngSubmit)="guardarCambios()">
          <div class="form-group row" *ngIf="medicoSeleccionado">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Fotografia*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <img [src]="medicoSeleccionado.image! | imagen:'medicos'" class="w140">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input type="text" class="form-control" id="exampleInputuname3" placeholder="Nombre Medico"
                  formControlName="nombre">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital*</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" formControlName="hospital">
                  <option value="">Seleccione Hospital</option>
                  <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                    {{hospital.nombre}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" class="btn btn-success waves-effect waves-light"
                [disabled]="medicoForm.invalid">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Si hay un hospital selecciona debe aparecer para que no marque error por el undefined -->
  <div class="col animated fadeIn fast" *ngIf="hospitalSeleccionado">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
        <img [src]="hospitalSeleccionado.image! | imagen:'hospitales'" class="w140 img-thumbnail">
      </div>
    </div>
  </div>
</div>
