<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi Perfil de Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form class="form p-t-20" [formGroup]="perfil" (ngSubmit)="actualizarPerfil()">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Nombre del usuario"
                formControlName="nombre">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <!-- [readOnly]="usuario.google" inabilitar el input -->
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"
                formControlName="email" [readOnly]="usuario.google">
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="perfil.invalid">Guardar cambios</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>
        <div class="text-center">
          <img class="img-avatar" [src]="usuario.imagenUrl" alt="" *ngIf="!imgTemp">
          <!-- Imagen que se pone al seleccionarla -->
          <img class="img-avatar" [src]="imgTemp" alt="" *ngIf="imgTemp">
        </div>
        <input type="file" (change)="cambiarImagen($event)">
        <br><br>
        <!-- Se desabilita si no hay ninguna imagen a subir -->
        <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10"
          [disabled]="!imagenSubir" (click)="subirImagen()">Cambiar imagen</button>
      </div>
    </div>
  </div>
</div>
