<div class="row">
  <div class="col-6">
    <app-dona titulo="Ventas"></app-dona>
  </div>
  <div class="col-6">
    <app-dona  titulo="Compras" [labels]="labels1" [data]="data1" [colors]="colors1"></app-dona>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dona titulo="Cambios" [labels]="labels1" [data]="data2" [colors]="colors2"></app-dona>
  </div>
  <div class="col-6">
    <app-dona titulo="Compras 2" [labels]="labels1" [data]="data1"></app-dona>
  </div>
</div>
