<div class="row animated fadeIn fast">
  <!-- USUARIOS -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Usuarios</h3>
        <div class="alert alert-info" *ngIf="usuarios.length ===0">
          <p>No hay Usuarios</p>
          <p class="mb-0"></p>
        </div>
        <div class="table-responsive" *ngIf="usuarios.length >0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios" class="animated fadeIn fast">
                <td class="w100 text-center"><img class="avatar cursor" [src]="usuario.image! | imagen:'usuarios'"></td>
                <td>{{usuario.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- HOSPITALES -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Hospitales</h3>
        <div class="alert alert-info" *ngIf="hospitales.length ===0">
          <p>No hay Hospitales</p>
          <p class="mb-0"></p>
        </div>
        <div class="table-responsive" *ngIf="hospitales.length >0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales" class="animated fadeIn fast">
                <td class="w100 text-center"><img class="avatar cursor" [src]="hospital.image! | imagen:'hospitales'">
                </td>
                <td>{{hospital.nombre}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- MEDICOS -->
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h3>Medicos</h3>
        <div class="alert alert-info" *ngIf="medicos.length ===0">
          <p>No hay Medicos</p>
          <p class="mb-0"></p>
        </div>
        <div class="table-responsive" *ngIf="medicos.length >0">
          <table class="table">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let medico of medicos" class="animated fadeIn fast">
                <td class="w100 text-center"><img class="avatar cursor" [src]="medico.image! | imagen:'medicos'"></td>
                <td>
                  <a [routerLink]="['/dashboard/medicos', medico._id]" data-toggle="tooltip"
                    data-original-title="Edit">{{medico.nombre}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
