<!-- BUSCADOR -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- (keydown)="" => DISPARA UNA TABLA,  (keyup)="" => SUELTA UNA TECLA -->
        <input type="text" class="form-control" placeholder="Buscar hospial..." #textTermino (keyup)="buscar(textTermino.value)">
      </div>
    </div>
  </div>
</div>
<!-- LOADING -->
<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>
<!-- TABLA DE HOSPITALES -->
<div class="row" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h4 class="card-title">Hospitales {{(hospitales.length)}}</h4>
            <h6 class="card-subtitle">Hospitales registrados en la aplicación.</h6>
          </div>
          <div class="col">
            <div class="text-right">
              <button class="btn btn-primary" (click)="abrirSweetAlert()">
                <i class="fa fa-hospital-o"></i>
                Crear Hospital
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="text-nowrap w100">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitales">
                <td class="text-center"><img class="avatar cursor" [src]="hospital.image! | imagen:'hospitales'"
                    [alt]="hospital.nombre" (click)="abrirModal(hospital)"></td>
                <td><input class="form-control" placeholder="Nombre del hospital" [(ngModel)]="hospital.nombre"></td>
                <td class="text-nowrap text-center">
                  <a (click)="guardarCambios(hospital)" class="cursor" data-toggle="tooltip"
                    data-original-title="Guardar Cambios"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                  <a (click)="borrarHospital(hospital)" class="cursor" data-toggle="tooltip"
                    data-original-title="Close"> <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- <button class="btn btn-secundary">Anterior</button> -->
          <!-- &nbsp; sirve para separacion -->
          <!-- <button class="btn btn-secundary">Siguinte</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
