<!-- BUSCADOR -->
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <!-- (keydown)="" => DISPARA UNA TABLA,  (keyup)="" => SUELTA UNA TECLA -->
        <input type="text" class="form-control" placeholder="Buscar usuario" #textTermino
          (keyup)="buscar(textTermino.value)">
      </div>
    </div>
  </div>
</div>
<!-- LOADING -->
<div class="row animated fadeIn fast" *ngIf="cargando">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!cargando">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de usuarios ({{totalUsuarios}}) {{desde}}</h4>
        <h6 class="card-subtitle">Usuarios registrados en la aplicación.</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Avatar</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th class="w140">Role</th>
                <th class="w100">Auth</th>
                <th class="text-nowrap">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of usuarios">
                <td class="w100 text-center"><img class="avatar cursor" [src]="item.imagenUrl" alt="Avatar de usuario" (click)="abrirModal(item)"></td>
                <td>{{item.email}}</td>
                <td>{{item.nombre}}</td>
                <td>
                  <select class="form-control" [(ngModel)]="item.rol" (change)="cambiarRol(item)">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td>
                  <span class="label label-danger label-rounded" *ngIf="item.google">Google</span>
                  <span class="label label-info label-rounded" *ngIf="!item.google">Email</span>
                </td>
                <td class="text-center text-nowrap w100">

                  <a class="cursor" data-toggle="tooltip" data-original-title="Borrar" (click)="eliminarUsuario(item)">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="textTermino.value.length ===0">
          <button (click)="cambiarPagina(-5)" class="btn btn-secundary">Anterior</button>
          <!-- &nbsp; sirve para separacion -->
          &nbsp;
          <button (click)="cambiarPagina(5)" class="btn btn-secundary">Siguinte</button>
        </div>

      </div>
    </div>
  </div>
</div>
